Secrets go here (views/secrets.erb)
<ul class="secrets">
<% @secrets.each do |secret| 
     column_class = "columns#{secret.display_params.columns}" %>
  <li class="secret <%=column_class%>">
    <h1 class="title"><%= secret.title %></h1>
    <div class="body"><%= partial(secret.block_partial, :locals => {:secret => secret}) %></div>
  </li>
<% end %>
</ul>
