this is the first secret (data/html_blocks/secret1.html.erb)

<p> shhh... </p>

<p> Here are the display parameters for this secret 
  <ul>
    <% secret.display_params.each do |key,val| %>
    <li>
      <label><%= key %></label> = <%= val %>
    </li>
    <% end %>
  </ul>
</p>
